body {
  background-color: #faf3dd;
}

header {
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr;
}

h1 {
  font-family: "Rampart One", cursive;
  color: black;
  font-size: 50px;
  justify-self: center;
  align-self: center;
}

h2 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  margin-bottom: 3vh;
}

main {
  margin-left: 10vh;
  margin-right: 10vh;
}

#productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

img {
  width: 300px;
}

p {
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
}

.onsale {
  display: none;
}

.product {
  max-width: 300px;
  border-style: solid;
  border-width: 1px;
  justify-self: flex-start;
}
