body {
  background-color: #faf3dd;
}

header {
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr;
}

h1 {
  font-family: "Rampart One", cursive;
  color: black;
  font-size: 3rem;
  justify-self: center;
  align-self: center;
}

h2 {
  font-family: "Rampart One", cursive;
  font-weight: 200;
  font-size: 2rem;
  margin-bottom: 3vh;
  border-bottom: 1px solid;
}

h3 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 3vh;
}

main {
  margin-left: 10vh;
  margin-right: 10vh;
}

#productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

img {
  width: 300px;
}

p {
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
}

.onsale,
span {
  display: none;
}

article {
  max-width: 300px;
  border-style: solid;
  border-width: 1px;
  padding: 3px;
}

.product_soldout img {
  opacity: 0.5;
}

.product_soldout::before {
  content: "sold out";
  position: absolute;
  font-size: 2rem;
}

.product_onsale .onsale {
  display: flex;
  justify-content: space-between;
}

.product_onsale span {
  display: initial;
}

.product_soldout .product a {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 100;
  color: black;
  border-bottom: 1px;
}

#sale_percentage {
  color: red;
  background-color: white;
}
