body {
  background-color: #faf3dd;
}

header {
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr;
}

main {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

h1 {
  font-family: "Rampart One", cursive;
  color: black;
  font-size: 3rem;
  justify-self: center;
  align-self: center;
}

h2 {
  font-family: "Rampart One", cursive;
  font-weight: 200;
  font-size: 1.5rem;
  margin-bottom: 3vh;
  border-bottom: 1px solid;
}

h3 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 800;
  font-size: 1.4rem;
}

img {
  width: 650px;
}

label {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 800;
  font-size: 1rem;
  margin-bottom: 10px;
}

dt {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 800;
  font-size: 1rem;
}

dd {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin-left: 0;
  margin-bottom: 1vh;
}

#infoContainer {
  border-style: solid;
  padding: 10px;
}

select {
  margin-bottom: 10px;
}

@media screen and (max-width: 700px) {
  main {
    margin-left: 0;
    margin-right: 0;
  }

  img {
    width: 500px;
  }
}
