body {
  background-color: #faf3dd;
}

header {
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr;
}

h1 {
  font-family: "Rampart One", cursive;
  color: black;
  font-size: 3rem;
  justify-self: center;
  align-self: center;
}

h2 {
  font-family: "Rampart One", cursive;
  font-weight: 200;
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

.seasonGroup {
  justify-self: center;
}

.seasonImage {
  width: 500px;
  height: auto;
  justify-self: center;
  align-self: center;
}

main {
  display: grid;
  margin-top: 5vh;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-bottom: 10vh;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
}

@media screen and (max-width: 700px) {
  main {
    margin-left: 2vw;
    margin-right: 2vw;
  }
}
