body {
  background-color: #faf3dd;
}

h1 {
  font-family: "Rampart One", cursive;
  color: black;
  font-size: 3rem;
  justify-self: center;
  align-self: center;
}

h2 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  justify-self: center;
  align-self: center;
}

.seasonGroup {
  background-image: url("img/fall.png");
  background-size: 100%;
}

header {
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr;
}

main {
  display: grid;
  margin-left: 15vw;
  margin-right: 15vw;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1rem;
}
